* {
  border-radius: 0;
  border: none;
  color: white;
  font-family: DejaVu Sans Mono;
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background: #000;
}

#workspaces button {
  background: #000;
  color: white;
  padding: 0 0.25em;
}

#workspaces button.focused {
  background: #334d4d;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

.modules-left > widget:first-child > #workspaces,
.modules-left > widget:first-child > #network {
  margin-left: 0;
  margin-right: 0.25em;
}

.modules-right > widget:last-child > #clock,
.modules-right > widget:last-child > #pulseaudio {
  margin-right: 0;
}

#disk,
#network {
  padding: 0 0.75em;
  margin-right: 0.25em;
}

#clock,
#cpu,
#memory,
#temperature,
#mpd,
#pulseaudio {
  padding: 0 0.75em;
  margin-left: 0.25em;
}

#mode {
  background: #4d6980;
  padding: 0 0.75em;
  margin-right: 0.25em;
}

#cpu,
#memory,
#temperature {
  background: #660000;
}

#disk,
#network,
#mpd {
  background: #004d66;
}
